/* --- Change header colour --- */
.vfrc-header {
  background-color: #6F7190 !important;
}

/* ---  Change button colours --- */
.vfrc-system-response--actions .vfrc-button {
  background-color: #007bff !important; /* heldere blauw */
  color: #ffffff !important;
  border-color: #007bff !important;
}

.vfrc-system-response--actions .vfrc-button:hover {
  background-color: #0056b3 !important; /* donkerder blauw op hover */
  border-color: #0056b3 !important;
}

