/* --- Change header colour --- */
.vfrc-header {
  background-color: #6F7190 !important;
}

/* ---  Change button colours --- */
.vfrc-button {
  background-color: #007bff !important;  /* Bootstrap blue */
  color: white !important;
  border-color: #007bff !important;
}
.vfrc-button:hover {
  background-color: #0056b3 !important;  /* Darker blue on hover */
  border-color: #0056b3 !important;
}

