/* Targeted styling for just the Assistant messages */
.vfrc-system-response .vfrc-message {
  background-color: #007bff !important; /* Blue background */
  color: #FFFFFF /* white text */
}

/* Hide the footer watermark */
.vfrc-footer--watermark {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  height: 0 !important;
  overflow: hidden !important;
}
